:root {
  color-scheme: light dark;
  --app-bar-size: 1px;
  --app-view-ratio: 0.4;
  --app-view-size-min: 10px;
  --app-bar-expand: -15px;
  --gray-line: light-dark(#bbb, #555);
  --gray-bg: light-dark(#eee, #222);
  --orange-weak: light-dark(#fb6, #730);
}
html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
}
input[type=number] {
  text-align: center;
  padding-left: 1ex;
  padding-right: 1ex;
  min-width: 6ch;
  field-sizing: content;
}

.control-row {
  margin-top: .5em;
  margin-bottom: .5em;
}

input[type="text"] {
  padding-left: 1ex;
  padding-right: 1ex;
  min-width: 25ex;
  field-sizing: content;
}

#param-grid {
  display: inline grid;
  grid-template-columns: auto auto auto auto;
  gap: 6px;
  align-items: center;
}

/* コマンドボックス */
.cmdbox {
  display: grid;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.cmdbox-head {
  padding: 4px 8px;
  background-color: var(--gray-bg);
  border: 1px solid var(--gray-line);
  border-bottom: none;
  font-size: 0.825em;
  display: flex;
  align-items: center;
}
.cmdbox-copy {
  margin-right: 2em;
}
.cmdbox-body {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin: 0;
  padding: 1em;
  border: 1px solid var(--gray-line);
}

/* 見出し */
h2 {
  font-size: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  display: flex;
  align-items: center;
  padding-left: 1ex;
}
h2::after {
  content: "";
  border-top: 2px solid var(--orange-weak);
  flex-grow: 1;
  margin-left: 1ex;
}

/* 画面分割 */
#app-body {
  display: flex;
  height: 100dvh;
  overflow: hidden;
  flex-direction: column;
}

#app-view {
  flex: 0 0 calc((100% - var(--app-bar-size) - var(--app-view-size-min) * 2) * var(--app-view-ratio, 0.4) + var(--app-view-size-min));
  min-width: var(--app-view-size-min);
  min-height: var(--app-view-size-min);
}

#app-bar {
  flex: 0 0 var(--app-bar-size);
  position: relative;
  background-color: #888;
  touch-action: none;
  cursor: row-resize;
}
#app-bar::before {
  content: "";
  position: absolute;
  inset: var(--app-bar-expand);
}
body.resizing {
  user-select: none;
}

#app-control {
  flex: 1 1 auto;
  min-width: var(--app-view-size-min);
  min-height: var(--app-view-size-min);
  padding: 8px;
  overflow: auto;
  padding-top: calc(8px - var(--app-bar-expand));
}

body:has(input[name="layout"][value="side-by-side"]:checked) {
  #app-body {
    flex-direction: row;
  }
  #app-bar {
    cursor: col-resize;
  }
  #app-control {
    padding-top: 8px;
    padding-left: calc(8px - var(--app-bar-expand));
  }
}
body:has(input[name="layout"][value="auto"]:checked) {
  @media (aspect-ratio > 1/1) {
    #app-body {
      flex-direction: row;
    }
    #app-bar {
      cursor: col-resize;
    }
    #app-control {
      padding-top: 8px;
      padding-left: calc(8px - var(--app-bar-expand));
    }
  }
}

/* セグメント */
.seg {
  display: inline-flex;
  gap: 1px;
  padding: 1px;

  &:has(input[type="radio"]:focus-visible) {
    outline: 2px solid #f90;
    outline-offset: 2px;
  }
}
.seg input[type="radio"] {
  appearance: none;
  width: 0;
  height: 0;
  margin: 0;
  border: 0;
  padding: 0;
}
.seg > label {
  padding: 0.25em 0.5em;
  outline: 1px solid var(--gray-line);
  user-select: none;
  cursor: pointer;
}
.seg > label:has(:checked) {
  background-color: var(--orange-weak);
}

/* タブ表示・非表示 */
.tab {
  display: none;
}
body:has(input[name="tab"][value="parameters"]:checked) #tab-parameters,
body:has(input[name="tab"][value="core"]:checked) #tab-core,
body:has(input[name="tab"][value="settings"]:checked) #tab-settings {
  display: block;
}

/* Settings/カラーテーマ */
html:has(input[name="theme"][value="light"]:checked) {
  color-scheme: light;
}
html:has(input[name="theme"][value="dark"]:checked) {
  color-scheme: dark;
}
