:root {
  color-scheme: light dark;
  --app-bar-size: 1px;
  --app-view-ratio: 0.4;
  --app-view-size-min: 10px;
  --gray-line: light-dark(#ccc, #444);
  --gray-bg: light-dark(#eee, #222);
}
html, body {
  margin: 0;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
}
input[type=number] {
  text-align: center;
  width: 8ch;
}

/* コマンドボックス */
.cmdbox {
  display: grid;
}
.cmdbox > div {
  padding: 4px 8px;
  background-color: var(--gray-bg);
  outline: 1px solid var(--gray-line);
  gap: 1px;
  display: flex;
  justify-content: space-between;
}
.cmdbox > pre {
  outline: 1px solid var(--gray-line);
  gap: 1px;
  margin: 0;
  padding: 8px;
  white-space: pre-wrap;
}

/* 垂直空け */
.group {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* 画面分割 */
#app-body {
  display: flex;
  height: 100dvh;
  overflow: hidden;
  flex-direction: column;
}

#app-view {
  flex: 0 0 calc((100% - var(--app-bar-size) - var(--app-view-size-min) * 2) * var(--app-view-ratio, 0.4) + var(--app-view-size-min));
  min-width: var(--app-view-size-min);
  min-height: var(--app-view-size-min);
}

#app-bar {
  flex: 0 0 var(--app-bar-size);
  position: relative;
  background-color: #888;
  touch-action: none;
  cursor: row-resize;
}
#app-bar::before {
  content: "";
  position: absolute;
  inset: -15px;
}
body.resizing {
  user-select: none;
}

#app-control {
  flex: 1 1 auto;
  min-width: var(--app-view-size-min);
  min-height: var(--app-view-size-min);
  padding: 8px;
  overflow: auto;
}

body:has(input[name="layout"][value="side-by-side"]:checked) {
  #app-body {
    flex-direction: row;
  }
  #app-bar {
    cursor: col-resize;
  }
}
body:has(input[name="layout"][value="auto"]:checked) {
  @media (aspect-ratio > 1/1) {
    #app-body {
      flex-direction: row;
    }
    #app-bar {
      cursor: col-resize;
    }
  }
}

/* セグメント */
.seg {
  display: inline-flex;
  gap: 1px;
  padding: 1px;
  margin: 5px;

  &:has(input[type="radio"]:focus-visible) {
    outline: 2px solid #f90;
    outline-offset: 2px;
  }
}
.seg input[type="radio"] {
  appearance: none;
  width: 0;
  height: 0;
  margin: 0;
  border: 0;
  padding: 0;
}
.seg > label {
  padding: 0.25em 0.5em;
  outline: 1px solid var(--gray-line);
  user-select: none;
  cursor: pointer;
}
.seg > label:has(:checked) {
  background-color: #f606;
}

/* タブ表示・非表示 */
.tab {
  display: none;
}
body:has(input[name="tab"][value="parameters"]:checked) #tab-parameters,
body:has(input[name="tab"][value="base"]:checked) #tab-base,
body:has(input[name="tab"][value="settings"]:checked) #tab-settings {
  display: block;
}

/* Settings/カラーテーマ */
html:has(input[name="theme"][value="light"]:checked) {
  color-scheme: light;
}
html:has(input[name="theme"][value="dark"]:checked) {
  color-scheme: dark;
}
