:root {
  color-scheme: light dark;
  --app-bar-size: 1px;
  --app-view-ratio: 0.4;
  --app-view-size-min: 10px;
}
html, body {
  margin: 0;
  height: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
}
pre {
  margin: 0;
  border: light-dark(#ddd, #444) 1pt solid;
  border-radius: 5px;
  padding: 8px;
  background-color: light-dark(#eee, #222);
  white-space: pre-wrap;
  text-align: left;
}
input[type=number] {
  text-align: center;
  width: 8ch;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
}

#appBody {
  display: flex;
  height: 100dvh;
  overflow: hidden;
  flex-direction: column;
}
#appBody.horizontal {
  flex-direction: row;
}

#appView {
  flex: 0 0 calc((100% - var(--app-bar-size) - var(--app-view-size-min) * 2) * var(--app-view-ratio, 0.4) + var(--app-view-size-min));
  min-width: var(--app-view-size-min);
  min-height: var(--app-view-size-min);
}

#appBar {
  flex: 0 0 var(--app-bar-size);
  position: relative;
  background: #888;
  touch-action: none;
  cursor: row-resize;
}
#appBar::before {
  content: "";
  position: absolute;
  inset: -15px;
}
.horizontal #appBar {
  cursor: col-resize;
}
body.resizing {
  user-select: none;
}

#appControl {
  flex: 1 1 auto;
  min-width: var(--app-view-size-min);
  min-height: var(--app-view-size-min);
  text-align: center;
  padding: 8px;
  overflow: auto;
}
